.form-control-text-to-right-holder {
    border-bottom: 1px solid $clr-border;

    .form-control-text-to-right-list {
        position: relative;
        height: 100%;
        padding-right: 20px;

        .placeholder {
            position: absolute;
            left: 20px;
            bottom: 0;
            top: 0;
            margin: auto 0;
            height: 15px;
            white-space: pre;
            pointer-events: none;
            width: calc(1% - 20px);
            transition: width 300ms;
            padding-right: 20px;
        }

        .form-control-text-to-right {
            border: 0;
            padding: 15px 20px;

            &:focus {
                border: none;
                outline: none;
            }

            &:focus+.placeholder,
            &:hover+.placeholder,
            &:not(:placeholder-shown)+.placeholder {
                width: calc(100% - 20px);
            }
        }
    }
}
