 #pg-login {

     #section-left,
     #section-right {
         position: relative;
     }

     // LEFT SECTION OF PAGE
     #section-left {
         width: 58.6979%;
         background: rgb(69, 33, 84);
         background: radial-gradient(ellipse at bottom left, rgba(69, 33, 84, 1) 0%, rgba(37, 162, 183, 1) 35%, rgba(46, 193, 139, 1) 60%, rgba(46, 193, 139, 1) 100%);


         .content-holder {

             margin-left: 250px;
             margin-right: 250px;
             position: relative;


             .logo-holder {
                 height: 85px;
                 max-height: 85px;
                 top: 8%;
                 position: relative;

                 .logo {
                     height: 85px;
                     width: 85px;
                 }

                 .logo-text {
                     font-size: 30px;
                     font-weight: 800;
                     color: white;
                     margin-left: 23px;
                     letter-spacing: 3.5px;
                 }

             }

             .content {
                 color: white;
                 height: 100%;
                 width: 100%;

                 h1 {
                     text-transform: uppercase;
                     font-size: 30px;
                     letter-spacing: 4px;
                     color: white;
                 }

                 h2 {
                     font-size: 22px;
                     font-weight: 400;
                     color: white;
                 }
             }

             .quotes {
                 height: 300px;
                 position: relative;
                 bottom: 5%;
             }

         }
     }



     // RIGHT SECTION OF PAGE
     #section-right {
         width: 41.3020%;

         .signin-card {
             width: 450px;
             position: absolute;
             left: 0;
             right: 0;
             margin: auto;
             top: -150px;
             bottom: 0;
             height: 370px;
         }

     }




     #section-right .margin-top {
         margin-top: 50px;
         margin-bottom: 25px;
     }

     #section-right h1 {

         font-size: 30px;
         font-weight: 700;
     }

     #section-right .spn-pass-reset {

         font-size: 15px;
         text-decoration: none;
         cursor: default;
     }

     #section-right .spn-pass-reset span {
         cursor: pointer;
     }

     #section-right .div-admin {
         position: absolute;
         bottom: 10%;
         width: 100%;
     }

     #section-right .div-admin a {
         text-decoration: none;
         color: inherit !important;
         margin-left: -25px;
     }

     #section-right .div-admin a::after {
         font-family: 'icomoon';
         border-radius: 100%;
         padding: 30px;
         background-color: #25A3B7;
         color: white;
         font-size: 34px;
         content: "\e903";
         margin-left: 15px;
         position: absolute;
         top: -35px;
     }






     // MOBILE
     @media(max-width: 576px) {

         #section-right .signin-card {
             width: 340px;
         }

     }

     @media(max-width:1200px) {
         .section-left #div-welcome {
             width: 90% !important;
             padding: 0 0;
         }

         .section-left #div-welcome {
             padding: 0 5%;


         }

         .section-left,
         #section-right {
             width: 100% !important;
             position: relative;
         }

         #section-right .div-admin a {
             margin-left: -100px;
         }
     }

     @media(max-width: 576px) {

         #section-right .div-admin a::after {
             font-size: 24px;
             padding: 15px;
             top: -5px;
             margin-left: 70px;
         }


         #section-right .div-admin a {
             margin-left: 0px;
             display: block;
             width: 300px;
         }
     }

     @media(max-width: 1200px) {
         .logo-holder {
             margin-top: 20px;
         }
     }

     .quotes {
         // position: absolute;
         // bottom: 0;
         // width: 100%;
         // height: 450px;
         // margin: auto;
     }

     // .logo-holder {
     //     margin-top: 100px;
     // }
 }
