.bg-primary {
    background: $clr-primary;
}

.bg-primary-dark {
    background: $clr-primary-dark;
}

.bg-success {
    background: $clr-success;
}

.bg-success-dark {
    background: $clr-success-dark;
}

.bg-danger {
    background: $clr-danger;
}

.bg-danger-dark {
    background: $clr-danger-dark;
}

.bg-danger-light {
    background: $clr-danger-light;
}

.bg-info {
    background: $clr-info;
}

.bg-info-dark {
    background: $clr-info-dark;
}

.bg-warning {
    background: $clr-warning;
}

.bg-warning-dark {
    background: $clr-warning-dark;
}

.bg-default {
    background: $clr-default;
}

.bg-light {
    background: $clr-light;
}

.bg-extra-light {
    background: $clr-extra-light;
}

.clr-primary,
.clr-primary::before,
.clr-primary::after {
    color: $clr-primary;
}

.clr-primary-dark,
.clr-primary-dark::before,
.clr-primary-dark::after {
    color: $clr-primary-dark;
}

.clr-success,
.clr-success::before,
.clr-success::after {
    color: $clr-success;
}

.clr-success-dark,
.clr-success-dark::before,
.clr-success-dark::after {
    color: $clr-success-dark;
}

.clr-danger,
.clr-danger::before,
.clr-danger::after {
    color: $clr-danger;
}

.clr-danger-dark,
.clr-danger-dark::before,
.clr-danger-dark::after {
    color: $clr-danger-dark;
}

.clr-danger-light,
.clr-danger-light::before,
.clr-danger-light::after {
    color: $clr-danger-light;
}

.clr-info,
.clr-info::before,
.clr-info::after {
    color: $clr-info;
}

.clr-info-dark,
.clr-info-dark::before,
.clr-info-dark::after {
    color: $clr-info-dark;
}

.clr-warning,
.clr-warning::before,
.clr-warning::after {
    color: $clr-warning;
}

.clr-warning-dark,
.clr-warning-dark::before,
.clr-warning-dark::after {
    color: $clr-warning-dark;
}

.clr-dark,
.clr-dark::before,
.clr-dark::after {
    color: $clr-dark;
}

.clr-default,
.clr-default::before,
.clr-default::after {
    color: $clr-default;
}

.clr-light,
.clr-light::before,
.clr-light::after {
    color: $clr-light;
}

.clr-extra-light,
.clr-extra-light::before,
.clr-extra-light::after {
    color: $clr-extra-light;
}

.clr-extra-dark,
.clr-extra-dark::before,
.clr-extra-dark::after {
    color: $clr-extra-dark;
}

.clr-white,
.clr-white::before,
.clr-white::after {
    color: $clr-white;
}

.clr-hightlight,
.clr-hightlight::before,
.clr-hightlight::after {
    color: $font-clr-hightlight;
}