@import "controls/shared";
@import "controls/buttons";
// @import "controls/drop_down_menus";
// @import "controls/generic";
// @import "controls/textbox_skins";
//
.link-more {
    color: white;
    font-size: 14px;
    border-bottom: 4px solid white;
    padding-bottom: 5px;
    font-family: "proxima-nova";
    font-weight: 600;
    cursor: pointer;
    transition: padding-bottom 300ms, color 300ms;
    &:hover {
        padding-bottom: 0;
        color: $clr-dark;
        border-bottom: 4px solid $clr-dark;
    }
}

.single-advert {
    height: 280px;
    padding: 0;
    .img {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        .padding {
            padding: 30px 40px;
            h3 {
                font-size: 25px;
            }
        }
    }
}

select {
    background-color: $clr-extra-light;
    border: solid 2px $clr-light;
    border-radius: 4px;
    padding: 5px 10px;
}