.flex {
    display: flex;

    &.flex-inline {
        display: inline-flex;
    }

    &.flex-col {
        flex-direction: column;
    }

    &.flex-y {
        align-items: center;
    }

    &.flex-x {
        justify-content: center;
    }

    &.flex-center {
        @extend .flex-x;
        @extend .flex-y;
    }



    &.flex-inline>* {
        align-items: stretch;
    }

    &.flex-stretch>* {
        flex-grow: 10;
    }

    &.flex-reverse {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

}
