// $font-clr
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 18px;
$font-size-xl: 24px;
.font-size-xs,
.font-size-sm,
.font-size-md,
.font-size-lg,
.font-size-xl,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $font-clr;
}

.font-size-xs {
    // imported by labels
    font-size: $font-size-xs;
}

.font-size-sm {
    font-size: $font-size-sm;
}

.font-size-md {
    font-size: $font-size-md;
}

.font-size-lg {
    font-size: $font-size-lg;
}

.font-size-xl {
    font-size: $font-size-xl;
}

h1 {
    font-size: 25px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 15px;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    font-weight: 400;
}

h5 {
    // font-size: 
}

h6 {
    // font-size: 
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}