.round {
    border-radius: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute
}

a {
    cursor: pointer;
    color: $font-clr;
    transition: color 300ms;
    &:hover {
        color: $font-clr-hightlight;
    }
}

.crs-pointer {
    cursor: pointer;
}