// COLOR PRIMARY
$clr-primary: #452154;
$clr-primary-dark: #2E1639;
$clr-primary-light: #2E1639;
$clr-primary-dark-x: #19507F;
$clr-primary-dark-xx: #0D2840;
;
// COLOR SUCCESS
$clr-success: #a1b1a1;
$clr-success-dark: #39DB39;
$clr-success-light: #6DE26D;
// COLOR INFO
$clr-info: #8F65FF;
$clr-info-dark: #9E7AFF;
$clr-info-light: #BAA1FF;
// COLOR WARNING
$clr-warning: #FFC600;
$clr-warning-dark: #FFD33A;
$clr-warning-light: #FFDA58;
// COLOR DARNGER
$clr-danger: #FF4252;
$clr-danger-dark: #FF4858;
$clr-danger-light: #FF6875;
$clr-danger-hvr: #FF4858;
// COLOR DARK
$clr-dark: #C1C8CE;
$clr-extra-dark: #22262A;
// COLOR DEFAULT
$clr-default:#E5E8EA;
// COLOR LIGHT
$clr-light: #F1F3F4;
$clr-extra-light: #F6F7F8;
// ----
$font-clr: $clr-extra-dark;
$font-clr-hightlight: #33A0FF;
// DEFAULT COLOURS 
$clr-white: #FFFFFF;
$clr-tbl-edit: #0D2840;
$clr-tbl-edit: #0D2840;