$clr-success: #2ec18b;
$clr-success-hvr: #1a8960;
$clr-warning: #ff6600;
$clr-warning-hvr: #ff6600;
$clr-danger: #ce7575;
$clr-danger-hvr: #ad6565;
$clr-grey-dim: #707070;
$clr-grey-lt: #dddddd;
$clr-default: #e1e1e1;
$clr-tbl-edit: #aae7d1;
$clr-default-dark: #9F9F9F;
$clrPgGrey: #E4E5E6;
$borderRadius: 30px;
$clrHolderBg: #ffffff;
$clrStatusOnline: $clr-success;
$clrStatusOffline: #DCDCDC;
$clrGray95: #F2F2F2;
$clrGray43: #6E6E6E;

// ---------------
// ---------------
// ---------------
// ---------------

$clr-primary: #452154;
$clr-primary-dark: #2E1639;

$clr-success: #2ec18b;
$clr-success-dark: #1a8960;

$clr-info: #2991AC;
$clr-info-dark: #2991AC;

$clr-warning: #ff6600;
$clr-warning-dark: #ff6600;

$clr-warning-alt: #DCD065;
$clr-warning-dark-alt: #AEA235;

$clr-danger: #ad6565; // #ce7575;
$clr-danger-dark: #D50108;

$clr-dark: #6E6E6E;
$clr-secondary: #A4A0A0;
$clr-default: #FFFFFF;
$clr-light: #DDDDDD;
$clr-extra-light: #E4E5E6;
// ----
$font-clr: $clr-dark;
// -- user status
$clr-status-online: $clr-success;
$clr-status-offline: #DCDCDC;
// border colours
$clr-border: #c9c9c9;
