//
.btn {
    @extend .flex;
    @extend .flex-inline;
    @extend .flex-y;
    border-radius: 4px;
    color: $clr-white;
    height: $control-size;
    padding: 0 20px;
    transition: background-color 300ms;
    font-weight: 600;
    &.btn-block {
        width: 100%;
        text-align: center;
        display: block !important;
        line-height: 46px;
    }
    .icon+.text {
        margin-left: 10px;
    }
    .icon::before {
        font-size: 16px;
    }
    &.btn-hightlight {
        background-color: $font-clr-hightlight;
        .text {
            color: $clr-white;
        }
        &:hover {
            background-color: #2E90E5;
            .text {
                color: $clr-white;
            }
        }
    }
    &.btn-hightlight-light {
        background-color: #E9F4FF;
        .text {
            color: $font-clr-hightlight;
        }
        .icon,
        .icon::before,
        .icon::after {
            color: $font-clr-hightlight;
        }
        &:hover {
            background-color: #2E90E5;
            .text {
                color: $clr-white;
            }
            .icon,
            .icon::before,
            .icon::after {
                color: $clr-white;
            }
        }
    }
}