/* header with icon on left*/

.header-with-icon {
    @extend .flex;

    .hldr-icon {
        margin-right: 20px;
        font-size: 40px;
    }

    .hldr-titles {
        @extend .flex;
        @extend .flex-col;

        ul.breadcrums {
            & li+li::before {
                margin: 0 5px 0 3px;
            }

            &.breadcrums-slash li+li::before {
                content: "/";
            }
        }


    }
}


/* // header with icon on left*/


/* -- button with cricle icon on right -- */

// .button_grid_0 .icon_adjst_circle {
//     color: white;
//     height: 45px;
//     width: 45px;
//     background-color: #2dbb95;
//     border-radius: 100%;
//     position: relative;
//     border: 3px white solid;
//     transition: background-color 200ms;
// }

// .button_grid_0:hover .icon_adjst_circle,
// .button_grid_0:hover .icon_adjst_circle:before {
//     background-color: #1a8960;
// }

// .button_grid_0 .icon_adjst_circle:before {
//     content: "";
//     position: absolute;
//     top: -6px;
//     left: -6px;
//     right: -6px;
//     bottom: -6px;
//     background: #2dbb95;
//     z-index: -1;
//     border-radius: 100%;
//     transition: background-color 200ms;
// }

// .button_grid_0 .icon_adjst_circle .icon {
//     font-size: 35px;
// }

// .button_grid_0 .text {
//     margin-right: 10px;
//     color: #686868;
// }


/* -- // button with cricle icon on right -- */
