@import url(https://use.typekit.net/dsb4avi.css);
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.333333%;
  }

  .offset-sm-2 {
    margin-left: 16.666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.333333%;
  }

  .offset-sm-5 {
    margin-left: 41.666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.333333%;
  }

  .offset-sm-8 {
    margin-left: 66.666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.333333%;
  }

  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.333333%;
  }

  .offset-md-2 {
    margin-left: 16.666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.333333%;
  }

  .offset-md-5 {
    margin-left: 41.666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.333333%;
  }

  .offset-md-8 {
    margin-left: 66.666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.333333%;
  }

  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.333333%;
  }

  .offset-lg-2 {
    margin-left: 16.666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.333333%;
  }

  .offset-lg-5 {
    margin-left: 41.666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.333333%;
  }

  .offset-lg-8 {
    margin-left: 66.666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.333333%;
  }

  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.333333%;
  }

  .offset-xl-2 {
    margin-left: 16.666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.333333%;
  }

  .offset-xl-5 {
    margin-left: 41.666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.333333%;
  }

  .offset-xl-8 {
    margin-left: 66.666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.333333%;
  }

  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
.font-size-xs, .label,
.font-size-sm,
.font-size-md,
.font-size-lg,
.font-size-xl,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #22262A;
}

.font-size-xs, .label {
  font-size: 10px;
}

.font-size-sm {
  font-size: 12px;
}

.font-size-md {
  font-size: 14px;
}

.font-size-lg {
  font-size: 18px;
}

.font-size-xl {
  font-size: 24px;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-size: 15px;
  font-weight: 700;
}

h4 {
  font-size: 15px;
  font-weight: 400;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

*,
::before,
::after {
  font-family: "proxima-nova";
  font-weight: 500;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #22262A;
  font-size: 14px;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.round {
  border-radius: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

a {
  cursor: pointer;
  color: #22262A;
  transition: color 300ms;
}
a:hover {
  color: #33A0FF;
}

.crs-pointer {
  cursor: pointer;
}

p, h6, h5, h4, h3, h2 {
  padding: 0;
  margin: 0;
}

h6, h5, h4, h3, h2 {
  color: #22262A;
  font-family: "proxima-nova";
  font-weight: 500;
  border-bottom: none;
}
h6 .icon, h5 .icon, h4 .icon, h3 .icon, h2 .icon {
  margin-right: 10px;
  position: relative;
}

h1 {
  font-family: "proxima-nova";
  font-weight: 600;
}
h2 {
  font-size: 25px;
  font-family: "proxima-nova";
  font-weight: 600;
}
h2 .icon {
  font-size: 28px;
  top: 3px;
}

h3 {
  font-size: 21px;
}
h4 {
  font-family: "proxima-nova";
  font-weight: 600;
  font-size: 18px;
}
h5 {
  font-size: 15px;
}
p {
  font-size: 16px;
  color: #6E6E6E;
  font-family: "proxima-nova";
  font-weight: 500;
}

.flex, .modals-holder .mdl .mdl-content span.close, .modals-holder .mdl .mdl-content, .modals-holder .mdl, .btn {
  display: flex;
}
.flex.flex-inline, .modals-holder .mdl .mdl-content span.flex-inline.close, .modals-holder .mdl .flex-inline.mdl-content, .modals-holder .flex-inline.mdl, .flex.btn, .modals-holder .mdl .mdl-content span.btn.close, .modals-holder .mdl .btn.mdl-content, .modals-holder .btn.mdl, .btn {
  display: inline-flex;
}
.flex.flex-col, .modals-holder .mdl .mdl-content span.flex-col.close, .modals-holder .mdl .mdl-content, .modals-holder .flex-col.mdl, .flex-col.btn {
  flex-direction: column;
}
.flex.flex-y, .modals-holder .mdl .flex-y.mdl-content, .modals-holder .flex-y.mdl, .flex.btn, .modals-holder .mdl .btn.mdl-content, .modals-holder .btn.mdl, .btn, .flex.flex-center, .modals-holder .mdl .mdl-content span.close, .modals-holder .mdl .flex-center.mdl-content, .modals-holder .flex-center.mdl, .flex-center.btn {
  align-items: center;
}
.flex.flex-x, .modals-holder .mdl .flex-x.mdl-content, .modals-holder .mdl, .flex-x.btn, .flex.flex-center, .modals-holder .mdl .mdl-content span.close, .modals-holder .mdl .flex-center.mdl-content, .flex-center.btn {
  justify-content: center;
}
.flex.flex-inline > *, .modals-holder .mdl .mdl-content span.flex-inline.close > *, .modals-holder .mdl .flex-inline.mdl-content > *, .modals-holder .flex-inline.mdl > *, .flex.btn > *, .modals-holder .mdl .mdl-content span.btn.close > *, .modals-holder .mdl .btn.mdl-content > *, .modals-holder .btn.mdl > *, .btn > * {
  align-items: stretch;
}
.flex.flex-stretch > *, .modals-holder .mdl .mdl-content span.flex-stretch.close > *, .modals-holder .mdl .flex-stretch.mdl-content > *, .modals-holder .flex-stretch.mdl > *, .flex-stretch.btn > * {
  flex-grow: 10;
}
.flex.flex-reverse, .modals-holder .mdl .mdl-content span.flex-reverse.close, .modals-holder .mdl .flex-reverse.mdl-content, .modals-holder .flex-reverse.mdl, .flex-reverse.btn {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

@font-face {
  font-family: "icomoon";
  src: url(/fonts/icomoon.eot?171ee817e99337c5051616cdfb35acb6);
  src: url(/fonts/icomoon.eot?171ee817e99337c5051616cdfb35acb6#iefix) format("embedded-opentype"), url(/fonts/icomoon.ttf?627cb2b2bb64359e8be53d348c3d7698) format("truetype"), url(/fonts/icomoon.woff?cd8b91bb999b33e46dc517fc1a52ec00) format("woff"), url(/fonts/icomoon.svg?1416a47e40a1788d65535b95d056974f#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"],
[class^=icon-]:before,
[class*=" icon-"]:before,
[class^=icon-]:after,
[class*=" icon-"]:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e90b";
}

.icon-search:before {
  content: "\e90a";
}

.icon-star:before {
  content: "\e900";
}

.icon-profile:before {
  content: "\e908";
}

.icon-bag:before {
  content: "\e909";
}

.icon-hamburger:before {
  content: "\e904";
}

.icon-grid:before {
  content: "\e905";
}

.icon-refund:before {
  content: "\e901";
}

.icon-shipping:before {
  content: "\e902";
}

.icon-support:before {
  content: "\e903";
}

.icon-heart:before {
  content: "\e907";
}

.icon-cart:before {
  content: "\e906";
}

/*margin top */
.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

/*margin right */
.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

/*margin bottom */
.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 50px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

/*margin left */
.ml-5 {
  margin-left: 5px !important;
}

.mtl10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

/*padding top */
.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

/*padding right */
.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

/*padding bottom */
.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

/*padding left */
.pl-5 {
  padding-left: 5px !important;
}

.ptl10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.h-25 {
  height: 25px;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100, .modals-holder .mdl .mdl-content .body, .pg {
  height: 100%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100, .pg {
  width: 100%;
}

.pg {
  position: relative;
}

.radius-5 {
  border-radius: 5%;
}

.radius-100 {
  border-radius: 100%;
}

.list {
  list-style: none;
}
.list > li {
  color: #22262A;
}
.list.list-bulleted, .list.list-numbered {
  list-style: inherit;
}
.list.list-bulleted > li, .list.list-numbered > li {
  margin-left: 20px;
}
.list.list-numbered {
  list-style: decimal;
}
.list.list-inline > li {
  display: inline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.block {
  display: block;
  width: 100%;
  height: 100%;
}

.invisible {
  opacity: 0 !important;
}

.hide {
  display: none;
}

.no-warp {
  white-space: pre;
}

.bg-primary, .label.label-primary {
  background: #452154;
}

.bg-primary-dark {
  background: #2E1639;
}

.bg-success, .label.label-success {
  background: #a1b1a1;
}

.bg-success-dark {
  background: #39DB39;
}

.bg-danger, .label.label-danger {
  background: #FF4252;
}

.bg-danger-dark {
  background: #FF4858;
}

.bg-danger-light {
  background: #FF6875;
}

.bg-info, .label.label-info {
  background: #8F65FF;
}

.bg-info-dark {
  background: #9E7AFF;
}

.bg-warning, .label.label-warning {
  background: #FFC600;
}

.bg-warning-dark {
  background: #FFD33A;
}

.bg-default, .label.label-default {
  background: #E5E8EA;
}

.bg-light {
  background: #F1F3F4;
}

.bg-extra-light {
  background: #F6F7F8;
}

.clr-primary,
.clr-primary::before,
.clr-primary::after {
  color: #452154;
}

.clr-primary-dark,
.clr-primary-dark::before,
.clr-primary-dark::after {
  color: #2E1639;
}

.clr-success,
.clr-success::before,
.clr-success::after {
  color: #a1b1a1;
}

.clr-success-dark,
.clr-success-dark::before,
.clr-success-dark::after {
  color: #39DB39;
}

.clr-danger,
.clr-danger::before,
.clr-danger::after {
  color: #FF4252;
}

.clr-danger-dark,
.clr-danger-dark::before,
.clr-danger-dark::after {
  color: #FF4858;
}

.clr-danger-light,
.clr-danger-light::before,
.clr-danger-light::after {
  color: #FF6875;
}

.clr-info,
.clr-info::before,
.clr-info::after {
  color: #8F65FF;
}

.clr-info-dark,
.clr-info-dark::before,
.clr-info-dark::after {
  color: #9E7AFF;
}

.clr-warning,
.clr-warning::before,
.clr-warning::after {
  color: #FFC600;
}

.clr-warning-dark,
.clr-warning-dark::before,
.clr-warning-dark::after {
  color: #FFD33A;
}

.clr-dark,
.clr-dark::before,
.clr-dark::after {
  color: #C1C8CE;
}

.clr-default,
.clr-default::before,
.clr-default::after {
  color: #E5E8EA;
}

.clr-light,
.clr-light::before,
.clr-light::after {
  color: #F1F3F4;
}

.clr-extra-light,
.clr-extra-light::before,
.clr-extra-light::after {
  color: #F6F7F8;
}

.clr-extra-dark,
.clr-extra-dark::before,
.clr-extra-dark::after {
  color: #22262A;
}

.clr-white,
.clr-white::before,
.clr-white::after {
  color: #FFFFFF;
}

.clr-hightlight,
.clr-hightlight::before,
.clr-hightlight::after {
  color: #33A0FF;
}

.btn {
  border-radius: 4px;
  color: #FFFFFF;
  height: 46px;
  padding: 0 20px;
  transition: background-color 300ms;
  font-weight: 600;
}
.btn.btn-block {
  width: 100%;
  text-align: center;
  display: block !important;
  line-height: 46px;
}
.btn .icon + .text {
  margin-left: 10px;
}
.btn .icon::before {
  font-size: 16px;
}
.btn.btn-hightlight {
  background-color: #33A0FF;
}
.btn.btn-hightlight .text {
  color: #FFFFFF;
}
.btn.btn-hightlight:hover {
  background-color: #2E90E5;
}
.btn.btn-hightlight:hover .text {
  color: #FFFFFF;
}
.btn.btn-hightlight-light {
  background-color: #E9F4FF;
}
.btn.btn-hightlight-light .text {
  color: #33A0FF;
}
.btn.btn-hightlight-light .icon,
.btn.btn-hightlight-light .icon::before,
.btn.btn-hightlight-light .icon::after {
  color: #33A0FF;
}
.btn.btn-hightlight-light:hover {
  background-color: #2E90E5;
}
.btn.btn-hightlight-light:hover .text {
  color: #FFFFFF;
}
.btn.btn-hightlight-light:hover .icon,
.btn.btn-hightlight-light:hover .icon::before,
.btn.btn-hightlight-light:hover .icon::after {
  color: #FFFFFF;
}

.link-more {
  color: white;
  font-size: 14px;
  border-bottom: 4px solid white;
  padding-bottom: 5px;
  font-family: "proxima-nova";
  font-weight: 600;
  cursor: pointer;
  transition: padding-bottom 300ms, color 300ms;
}
.link-more:hover {
  padding-bottom: 0;
  color: #C1C8CE;
  border-bottom: 4px solid #C1C8CE;
}

.single-advert {
  height: 280px;
  padding: 0;
}
.single-advert .img {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.single-advert .img .padding {
  padding: 30px 40px;
}
.single-advert .img .padding h3 {
  font-size: 25px;
}

select {
  background-color: #F6F7F8;
  border: solid 2px #F1F3F4;
  border-radius: 4px;
  padding: 5px 10px;
}

.label {
  color: #E5E8EA;
  padding: 0 4px;
  border-radius: 5px;
}
.label.label-default {
  color: #C1C8CE;
}

.modals-holder {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.modals-holder .mdl {
  z-index: 600;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
.modals-holder .mdl .mdl-content {
  margin-bottom: auto;
  top: 10%;
  max-height: 80%;
  background-color: #ffffff;
  max-width: 1025px;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 45px;
  padding-bottom: 55px;
  padding-left: 45px;
  position: relative;
}
.modals-holder .mdl .mdl-content .body {
  overflow: hidden;
}
.modals-holder .mdl .mdl-content .footer {
  padding-top: 40px;
}
.modals-holder .mdl .mdl-content span.close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #C1C8CE;
  transition: transform 300ms, color 300ms;
  height: 24px;
  width: 24px;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
}
.modals-holder .mdl .mdl-content span.close:hover {
  color: #FF4252;
  transform: rotate(90deg);
  transform-origin: center center;
}
.modals-holder .mdl .mdl-content.sm {
  width: 550px;
}
.modals-holder .mdl .mdl-content.lg {
  width: 90%;
}

.fadeIn {
  opacity: 0;
  -webkit-animation: 300ms fadeIn forwards;
          animation: 300ms fadeIn forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#toast-holder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
  width: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 25px 0;
}
#toast-holder #toast-items {
  list-style: none;
  margin-top: auto;
  position: relative;
}
#toast-holder #toast-items > li {
  margin-top: 10px;
}
#toast-holder .toast {
  border-radius: 4px;
  bottom: 0;
  margin-top: auto;
  min-height: 10px;
  padding: 5px 5px;
  position: relative;
  opacity: 1;
  width: 100%;
  z-index: 100;
  transition: opacity 200ms;
}
#toast-holder .toast .text {
  display: block;
  width: 94%;
}
#toast-holder .toast .icon {
  position: absolute;
  right: 6px;
  top: 8px;
}
#toast-holder .toast.success {
  background-color: #a1b1a1;
}
